<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>

						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
					</div>

          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
					</div>

          <div class="form-check mx-2">
            <%= f.radio_button(:role, 'Broker', class:'form-check-input') %>
            <%= f.label :role, 'Broker', :value => 'Broker', class: 'form-check-label' %>
          </div>
          <div class="form-check mx-2">
            <%= f.radio_button(:role, 'Buyer', class:'form-check-input') %>
            <%= f.label :role, 'Buyer', :value => 'Buyer', class: 'form-check-label' %>
          </div>


					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#"><%= link_to "SIGN UP", new_user_registration_path, class: 'text_format' %></a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<% end %>

